<h1 style='font-size:40px'>Outlier detection and removal using percentile </h1>

<h2 style='font-size:30px'> Introdução</h2>
<div> 
    <ul style='font-size:20px'> 
        <li> 
            Nesta aula, aprenderemos a identificar dados excepcionais em datasets com o uso de percentis.
        </li>
        <li> 
            Definir qual percentil usar para se segregar os outliers pode ser uma tarefa complicada dependendo da área de nosso projeto. Por convenção, usaremos as marcas de 5% e 95% para coletarmos essas exceções.
        </li>
    </ul>
</div>

In [5]:
import pandas as pd

# Importanto um arquivo com alturas de pessoas.
df = pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/ML/FeatureEngineering/1_outliers/heights.csv', index_col=[0])
df.head()

       height
name
mohan     5.9
maria     5.2
sakib     5.1
tao       5.5
virat     4.9

In [13]:
# Usando 'quantile' para identificar os valores correspondentes ao quinto e nonagésimo-quinto percentis.
max_quant, min_quant = df.quantile(.95)[0], df.quantile(.05)[0]
max_quant, min_quant

(9.689999999999998, 3.6050000000000004)

In [21]:
# Quais linhas possuem uma 'height' maior do que max_quant?
display(df[df['height']>max_quant])

# E quais linhas possuem 'height' abaixo de 'min_quant'?
df[df['height']<min_quant]

       height
name
imran    14.5

        height
name
yoseph     1.2

In [25]:
# Observe que os valores dessas linhas são bastante distintos da média de 'height' no dataset.
# Portanto, seria conveniente os rotuarmos como outliers!
print(df.height.mean())

# Removendo as exceções.
no_outlier_df = df[~(df['height']>max_quant) | (df['height']<min_quant)]
no_outlier_df

6.05

         height
name
mohan       5.9
maria       5.2
sakib       5.1
tao         5.5
virat       4.9
khusbu      5.4
dmitry      6.2
selena      6.5
john        7.1
jose        6.1
deepika     5.6
yoseph      1.2
binod       5.5

<p style='color:red'> Outlier detection and removal using percentile (8:10)